# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.sln.docstates

# Build folders
**/x64/
**/Debug/
**/Release/

# Compiled files
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog

# Output / test files
out.txt
err.txt
CODED.txt